body {
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    text-align: center;
    margin-bottom: 90px;
}

.header h1 {
    font-size: 3rem;
    margin: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-box {
    background-color: #1e1e1e;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    width: 200px;
    transition: background-color 0.3s, transform 0.3s;
}

.social-box:hover {
    transform: scale(1.05);
}

.social-box h3 {
    margin: 0;
    font-size: 1.5rem;
}

.social-box p {
    margin: 5px 0 0;
    font-size: 1.2rem;
}

.social-box:nth-child(1):hover {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.social-box:nth-child(2):hover {
    background: linear-gradient(45deg, #1DA1F2 0%, #0D8BDA 100%);
}

.social-box:nth-child(3):hover {
    background: linear-gradient(45deg, #5865F2 0%, #404EED 100% );
}
