body {
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    text-align: center;
    margin-bottom: 90px; /* added unit 'px' */
}

.header h1 {
    font-size: 3rem;
    margin: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-box {
    background-color: #1e1e1e;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    text-align: center;
    color: #ffffff;
    width: 200px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;
    text-decoration: none; /* Remove underline from links */
}

.social-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(135deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -moz-linear-gradient(135deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(135deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    transition: left 0.5s ease-in-out;
    z-index: 1; /* changed to 1 to ensure it's on top of the box */
}

.social-box:nth-child(2)::before {
    background: -webkit-linear-gradient(135deg, #1DA1F2 0%, #0D8BDA 100%);
    background: -moz-linear-gradient(135deg, #1DA1F2 0%, #0D8BDA 100%);
    background: linear-gradient(135deg, #1DA1F2 0%, #0D8BDA 100%);
}

.social-box:nth-child(3)::before {
    background: -webkit-linear-gradient(135deg, #5865F2 0%, #404EED 100%);
    background: -moz-linear-gradient(135deg, #5865F2 0%, #404EED 100%);
    background: linear-gradient(135deg, #5865F2 0%, #404EED 100%);
}

.social-box:hover::before {
    animation: slideIn 0.5s forwards;
}

.social-box:not(:hover)::before {
    animation: slideOut 0.5s forwards;
}

.social-box:hover {
    transform: scale(1.05);
}

.social-box h3 {
    margin: 0;
    font-size: 1.5rem;
    position: relative;
    z-index: 2; /* increased z-index to ensure it's on top of the gradient */
}

.social-box p {
    margin: 5px 0 0;
    font-size: 1.2rem;
    position: relative;
    z-index: 2; /* increased z-index to ensure it's on top of the gradient */
}

@keyframes slideIn {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

@keyframes slideOut {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}
